/* classi header */
.fixed-top {
    background-color: #2c3e50;
}

.navbar-toggler-icon {
    z-index: 1;
    filter: invert(1);
    
}

.bg-blue {
    background-color:#2c3e50;
}

.c-white {
    color: white;
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55); 
    border-color: white
}

/* classi jumbotron */

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.jumbotron {
    justify-content: center;
    background-color: #1abc9c;
    padding-bottom: 10px;
}

.jumbo-2 {
    display: flex;
    justify-content: center;
}

.jumbo {
    width: 25%;
    padding-top: 120px;
}

.line {
    border: 2px solid white;
    height: 3px;
    width: 8%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.fa-star {
    color: white;
    font-size: 20px;
}

.lineastella {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin-bottom: 15px;
}

.artist {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
}

.line-black {
    border: 2px solid black;
    height: 3px;
    width: 12%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

h2 {
    font-size: 20px;
    margin-top: 25px;
}

.fa-star-black {
    color: black;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
   
}